{% extends 'base.html' %}

{% block head %}
<style type="text/css">
<!--
    td {
        border-style: none;
    }
-->
</style>
{% endblock head %}
{% block main %}


<form method="post" action="{% url 'login' %}">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    {% csrf_token %}
    先ほど入力していただいたID，パスワードを入力してください．
    <table>
        <div>
            <td>ID</td>
            <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>{{ form.password }}</td>
            </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock main %}
