{% extends "base.html" %}
{% block main %}

<div class="column column-75">
    <h2 class="task-top"><span>「遺伝子組み換え食品」に関する事前アンケート</span></h2>
    <!--div class="task-description">
        {{ task_description|safe }}
    </div-->
    <form method="post">{% csrf_token %}
        <h5 class="question">あなたはこのタスクに参加する前の時点で，「遺伝子組み換え食品」についてどの程度知識がありました？</h5>
        {{ form.knowledge }}
        <hr />

        <h5 class="question">現時点で，あなたは「遺伝子組み換え食品」を摂取することの安全性についてどのように考えますか？</h5>
        {{ form.prior_belief }}
        <hr />
    <input type="submit" value="次に進む">
    </form>
</div>

{% endblock main %}

{% load static %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/browser-polyfill.min.js' %}"></script>
<script src="{% static 'js/userbehavior.js' %}"></script>
<script src="{% static 'js/helper.js' %}"></script>
<script src="{% static 'js/browsing-monitor.js' %}"></script>
<script type="text/javascript">
    let projectID = '{{ project_id }}';
    let userID = '{{ user_id }}';
</script>
{% endblock head %}
